/* General Styles */
main {
  display: flex;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  width: 70%;
  color: #3f3e3e;
  background-color: #f5f5f5;
  margin: 0 auto;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

aside {
  background: #fcfcfc;
  padding: 10px;
  width: 25%;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside h2 {
  margin-bottom: 1px;
  text-align: center;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside li {
  margin-bottom: 0px;
}

aside a {
  display: block;
  font-size: 14px;
  color: #3a3a3a;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

aside a:hover {
  background-color: #f0f0f0;
  text-decoration: none;
}

.content {
  width: 75%;
  padding: 20px;
  flex: 1;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content img {
  max-width: 100%;
}

.edit-link {
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 10px;
  text-decoration: none;
}

.markdown-body {
  font-size: 1.1em;
  line-height: 1.7;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-bottom: 1em;
}

.markdown-body pre {
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.updates-list {
  font-size: 12px;
  border: 1px solid #ccc;
  padding-left: 10px;
  margin-top: 10px;
}

.updates-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.updates-list li {
  margin-bottom: 5px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 4px 8px;
  border-radius: 14px;
  font-size: 0.9em;
  cursor: pointer;
  user-select: none;
  margin-bottom: 5px;
}

.tag:hover {
  background-color: #e0e0e0;
}

.tag i {
  margin-left: 4px;
}