header {
    background-color: #d1d2d3;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }  

.logo img {
    width: 150px;
    height: auto;
  }
  
  nav {
    font-size: 1.1em;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav a {
    display: block;
    padding: 5px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    clear: both;
  }
  
  footer p {
    margin-bottom: 0;
  }  